<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Students</title>
    </head>
    <body>
        <h2>სტუდენტები</h2>

        <a href="/dashboard">პროფილი</a>

        <!-- SEARCH -->

        <form th:action="@{/admin/students}" method="get">
            <input type="text"
                   name="search"
                   th:value="${search}"
                   placeholder="სახელით ან გვარით ძებნა">
            <button type="submit">ძებნა</button>
        </form>

        <br>

        <!-- TABLE -->

        <table border="1" cellpadding="10">
            <thead>
            <tr>
                <th>იუზერნეიმი</th>
                <th>სახელი</th>
                <th>გვარი</th>
                <th>ჯგუფი</th>
                <th>მშობლის სახელი/გვარი</th>
                <th>მშობლის საკონტაქტო</th>
                <th>მიღების თარიღი</th>
            </tr>
            </thead>

            <tbody>

            <tr th:each="student : ${students}">
                <td th:text="${student.username}"></td>
                <td th:text="${student.firstName}"></td>
                <td th:text="${student.lastName}"></td>
                <td th:text="${student.groupName}"></td>
                <td th:text="${student.parentName}"></td>
                <td th:text="${student.parentContact}"></td>
                <td th:text="${student.admissionDate}"></td>
            </tr>
            </tbody>
        </table>

        <br>

        <!-- PAGINATION -->

        <div>
            <!-- PREVIOUS -->
            <a th:if="${currentPage > 0}"
               th:href="@{/admin/students(
                    page=${currentPage - 1},
                    size=10,
                    search=${search}
               )}">
                Previous
            </a>

            <!-- PAGE NUMBERS -->

            <span th:each="i : ${#numbers.sequence(0, totalPages - 1)}">
                <a th:href="@{/admin/students(
                        page=${i},
                        size=10,
                        search=${search}
                    )}"
                   th:text="${i + 1}"
                   th:style="${i == currentPage}
                        ? 'font-weight:bold'
                        : ''">
                </a>
            </span>

            <!-- NEXT -->

            <a th:if="${currentPage < totalPages - 1}"
               th:href="@{/admin/students(
                    page=${currentPage + 1},
                    size=10,
                    search=${search}
               )}">
                Next
            </a>
        </div>
    </body>
</html>