<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Add Exam Grade</title>
    </head>
    <body>
        <h2>გამოცდის შეფასება</h2>

        <div th:if="${success}" style="color:green;">
            <span th:text="${success}"></span>
        </div>

        <div th:if="${error}" style="color:red;">
            <span th:text="${error}"></span>
        </div>

        <form th:action="@{/teacher/exams/{id}/grades/add(id=${examId})}" method="post" th:object="${request}">

            <!-- STUDENT DROPDOWN -->
            <label>სტუდენტის არჩევა</label>
            <select th:field="*{studentId}">
                <option value="">-- სტუდენტის არჩევა --</option>
                <option th:each="student : ${students}"
                        th:value="${student.id}"
                        th:text="${student.displayName}">
                </option>
            </select>

            <br><br>

            <!-- SCORE -->

            <input type="number"
                   step="0.01"
                   min="0"
                   max="100"
                   th:field="*{score}"
                   placeholder="ქულა">
            <br><br>
            <button type="submit">შეფასება</button>
        </form>
    </body>
</html>