<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>დავალების დამატება</title>
    </head>
    <body>
        <h2>Create Assignment</h2>
        <div th:if="${success}"
             style="color:green;">
            <span th:text="${success}"></span>
        </div>
        <div th:if="${error}"
             style="color:red;">
            <span th:text="${error}"></span>
        </div>
        <form th:action="@{/teacher/groups/{id}/assignments/create(id=${groupId})}"
              method="post"
              th:object="${assignment}">

            <input type="text" th:field="*{subjectName}" placeholder="საგანი"><span>საგანი</span>
            <br><br>

            <input type="text" th:field="*{title}" placeholder="დავალების დასახელება"><span>დავალების დასახელება</span>
            <br><br>

            <textarea th:field="*{description}" placeholder="აღწერა">
            </textarea><span>აღწერა</span>
            <br><br>

            <input type="date" th:field="*{dueDate}"><span>ვადა</span>
            <br><br>

            <input type="number" th:field="*{maxScore}" placeholder="მაქსიმალური ქულა"/><span>მაქსიმალური ქულა</span>
            <br><br>

            <button type="submit">დავალების დამატება</button>
        </form>

        <a th:href="@{/teacher/groups/{id}/students(id=${groupId})}">ჯგუფი</a>
    </body>
</html>