<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Exams</title>
    </head>
    <body>
        <h2>გამოცდები</h2>
        <table border="1" cellpadding="10">
            <thead>
                <tr>
                    <th>დასახელება</th>
                    <th>საგანი</th>
                    <th>გამოცდის თარიღი</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="exam : ${exams}">
                    <td>
                        <a th:href="@{/teacher/exams/{id}/grades/add(id=${exam.id})}" th:text="${exam.title}"></a>
                    </td>
                    <td th:text="${exam.subjectName}"></td>
                    <td th:text="${exam.examDate}"></td>
                </tr>
            </tbody>
        </table>
        <br>

        <a th:href="@{/teacher/groups/{id}/students(id=${groupId})}">ჯგუფი</a>
    </body>
</html>