<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Group Students</title>
    </head>
    <body>
        <h2>ჯგუფის სტუდენტები</h2>

        <a th:href="@{/teacher/groups/{id}/assignments/create(id=${groupId})}">
            <button type="button">დავალების დამატება</button>
        </a>

        <a th:href="@{/teacher/groups/{id}/assignments(id=${groupId})}">
            <button type="button">დავალებები</button>
        </a>

        <a th:href="@{/teacher/groups/{id}/exams(id=${groupId})}">
            <button type="button">გამოცდები</button>
        </a>

        <br><br>
        <table border="1" cellpadding="10">
            <thead>
                <tr>
                    <th>იუზერნეიმი</th>
                    <th>სახელი</th>
                    <th>გვარი</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="student : ${students}">
                    <td>
                        <a th:href="@{/teacher/students/{id}/grades(id=${student.id})}"
                           th:text="${student.username}">
                        </a>
                    </td>
                    <td th:text="${student.firstName}"></td>
                    <td th:text="${student.lastName}"></td>
                </tr>
            </tbody>
        </table>

        <br>

        <a th:href="@{/teacher/groups}">ჯგუფები</a>
    </body>
</html>