<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>My Groups</title>
    </head>
    <body>
        <h2>ჩემი ჯგუფები</h2>
        <table border="1" cellpadding="10">
            <thead>
                <tr>
                    <th>ჯგუფის სახელი</th>
                    <th>სასწავლო საფეხური</th>
                    <th>აკადემიური წელი</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="group : ${groups}">
                    <td>
                        <a th:href="@{/teacher/groups/{id}/students(id=${group.id})}"
                           th:text="${group.groupName}">
                        </a>
                    </td>
                    <td th:text="${group.gradeLevel}"></td>
                    <td th:text="${group.academicYear}"></td>
                </tr>
            </tbody>
        </table>
        <a href="/dashboard">პროფილი</a>
    </body>
</html>