<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
    <body>

        <h2>პროფილი</h2>

        <p>Welcome: <span sec:authentication="name"></span></p>

        <div sec:authorize="hasRole('ADMIN')">
            <a href="/admin/users/new">მომხმარებლის რეგისტრაცია</a>
            <a th:href="@{/admin/groups}">ჯგუფების მენეჯმენტი</a>
            <a th:href="@{/admin/students}">სტუდენტები</a>
            <a th:href="@{/admin/teachers}">მასწავლებლები</a>
        </div>

        <div sec:authorize="hasRole('TEACHER')">
            <a th:href="@{/teacher/timetable}">ჩემი ცხრილი</a>
            <a th:href="@{/teacher/groups}">ჩემი ჯგუფები</a>
        </div>

        <div sec:authorize="hasRole('STUDENT')">
            <a th:href="@{/student/assignments}">ჩემი დავალებები</a>
            <a th:href="@{/student/timetable}">ჩემი ცხრილი</a>
            <a th:href="@{/student/exams}">ჩემი გამოცდები</a>
        </div>

        <div sec:authorize="hasRole('MONITORING')">
            <a th:href="@{/monitoring/dashboard}">შენობის მონიტორინგი</a>
        </div>

        <form th:action="@{/logout}" method="post">
            <button type="submit">Logout</button>
        </form>

    </body>
</html>