<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
    <body>

        <h2>Dashboard</h2>

        <p>Welcome: <span sec:authentication="name"></span></p>

        <div sec:authorize="hasRole('ADMIN')">
            <a href="/admin/users/new">Create User</a>
            <a th:href="@{/admin/groups}">Manage Groups</a>
            <a th:href="@{/admin/students}">View Students</a>
            <a th:href="@{/admin/teachers}">Manage Teachers</a>
        </div>

        <div sec:authorize="hasRole('TEACHER')">
            <p>Teacher Panel</p>
            <a th:href="@{/teacher/timetable}">My Timetable</a>
            <a th:href="@{/teacher/groups}">My Groups</a>
        </div>

        <div sec:authorize="hasRole('STUDENT')">
            <p>Student Panel</p>
            <a th:href="@{/student/assignments}">My Assignments</a>
            <a th:href="@{/student/timetable}">My Timetable</a>
            <a th:href="@{/student/exams}">My Exams</a>
        </div>

        <form th:action="@{/logout}" method="post">
            <button type="submit">Logout</button>
        </form>

    </body>
</html>