<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
    <body>

        <h2>Dashboard</h2>

        <p>Welcome: <span sec:authentication="name"></span></p>

        <div sec:authorize="hasRole('ADMIN')">
            <a href="/admin/users/new">Create User</a>
        </div>

        <div sec:authorize="hasRole('TEACHER')">
            <p>Teacher Panel</p>
        </div>

        <div sec:authorize="hasRole('STUDENT')">
            <p>Student Panel</p>
        </div>

        <form th:action="@{/logout}" method="post">
            <button type="submit">Logout</button>
        </form>

    </body>
</html>